.*
!.git
~*
*.min.min.js
*.py[co]
*.db
*.egg-info
__pycache__
dist/
build/
latest_logs/
downloaded_files/
archived_logs/
docker/conf/*.whl


coverage.xml
junit.xml
package-lock.json

node_modules
package.json
Makefile

!tests/.coveragerc
!.gitignore
!.dockerignore
!.github
!.pre-commit-config.yaml
!.secrets.baseline
__packages__
docker/conf/nginx.conf
docker/conf/redis.conf
src/aurora/staticfiles
src/aurora/version.py
