.*
!.git
~*
*.min.min.js
*.py[ico]
*.db
*.egg-info
dist/
build/
__pycache__
coverage.xml
node_modules
package-lock.json
package.json
latest_logs
archived_logs
Makefile

!tests/.coveragerc
!.gitignore
!.dockerignore
!.github
!.pre-commit-config.yaml
!.secrets.baseline
.env
.venv
__packages__
docker/conf/nginx.conf
docker/conf/redis.conf
src/aurora/staticfiles
src/aurora/version.py
