exclude *

include README.md
include MANIFEST.in
include LICENSE.md
include pyproject.toml
include *.py
exclude uv.lock


recursive-include src/aurora *.*
recursive-include src/dbtemplates *.*

recursive-exclude tests *
recursive-exclude static_src *.*

prune **/~*
prune docker
prune docs
prune static_src

global-exclude .*
global-exclude *~
global-exclude ~*
global-exclude __pycache__/*
global-exclude *.pyc

exclude manage.py
