{% extends "admin_extra_buttons/action_page.html" %}{% load static itrans aurora field_editor %}
{% block extrahead %}
    {#<link rel="stylesheet" href="{% static "admin/field_editor/field_editor.css" %}">#}
    <meta id="url" data-url="{% url "admin:core_flexformfield_widget_refresh" original.pk %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"
            integrity="sha512-2V49R8ndaagCOnwmj8QnbT1Gz/rie17UouD9Re5WxbzRVUGoftCu5IuqqtAM9+UC3fwfHCSJR1hkzNQh/2wdtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ media }}
{% endblock %}
{% block object-tools %}{% endblock %}
{% block content_title %}<h1>Field: {{ original.name }}</h1>{% endblock %}
{% block action-content %}
    <form method="post">
        <div id="fieldEditor">
            <div class="submit-row sticky">
                <div>
                    <label for="radio_display"><input data-target="display" type="radio" id="radio_display" checked
                                                      name="output">Render
                    </label>
                    <label for="radio_code"><input data-target="code" type="radio" id="radio_code" name="output">Code
                    </label>
                    <label for="radio_kwargs"><input data-target="kwargs" type="radio" id="radio_kwargs" name="output">KwArgs
                    </label>
                    <label for="radio_advanced"><input data-target="advanced" type="radio" id="radio_advanced"
                                                       name="output">Advanced </label>
                    <div style="display: inline;padding-right: 30px">
                        <label><input type="checkbox" checked id="autoRefresh"> Auto Refresh</label>
                        <input type="button" class="secondary" id="refresh" value="Refresh">
                    </div>
                </div>
                <input type="submit" value="Save">
            </div>
            <div id="mainPanel">
                <div id="output" class="panel output sticky">
                    <iframe class="display"
                            data-src="{% url "admin:core_flexformfield_widget_display" original.pk %}"></iframe>
                    <iframe class="code"
                            data-src="{% url "admin:core_flexformfield_widget_code" original.pk %}"></iframe>
                    <iframe class="kwargs"
                            data-src="{% url "admin:core_flexformfield_widget_kwargs" original.pk %}"></iframe>
                    <iframe class="advanced"
                            data-src="{% url "admin:core_flexformfield_widget_advanced" original.pk %}"></iframe>
                </div>
                <div id="settings" class="panel settings">
                    <table>
                        <thead>
                        <tr class="tabs" id="tabForms">
                            {% for prefix, frm in forms.items %}
                                {% if prefix != "events" %}
                                    <th data-target="{{ prefix }}"><a>{{ frm.Meta.title }}</a></th>
                                {% endif %}
                            {% endfor %}
                            <th data-target="events"><a>{{ forms.events.Meta.title }}</a></th>
                            <th data-target="usage"><a>Usage</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="7">
                                {% csrf_token %}
                                {% for prefix, frm in forms.items %}
                                    {% if prefix != "events" %}
                                        <table id="{{ prefix }}" class="cfg-form collapse collapsed">
                                            <tr>
                                                <td colspan="2">{{ frm.Meta.help }}</td>
                                            </tr>
                                            {{ frm }}
                                        </table>
                                    {% endif %}
                                {% endfor %}
                                <table id="events" class="cfg-form collapse collapsed">
                                    <tr>
                                        <td>
                                            <select id="event_selector">
                                                {% for n,f in forms.events.fields.items %}
                                                    {% with forms.events|get:n as ff %}
                                                        <option class="oo{% if ff.value %} used{% endif %}"
                                                                value="{{ n }}">
                                                            {{ n }}{% if ff.value %}*{% endif %}</option>
                                                    {% endwith %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% for n,f in forms.events.fields.items %}
                                                {% with forms.events|get:n as ff %}
                                                    <div id="event_{{ n }}"
                                                         class="code {% if forloop.counter == 1 %} selected{% endif %}">{{ ff }}</div>
                                                {% endwith %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>

                                <table id="usage" class="cfg-form collapse collapsed">
                                    {% for usage in original.get_usage %}
                                        <tr>
                                            <td>{{ usage.type }}</td>
                                            <td>
                                                <a target="_inspect" href="{{ usage.editor_url }}">{{ usage.obj }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for usage in original.flex_form.get_usage %}
                                        <tr>
                                            <td>Form / {{ usage.type }}</td>
                                            <td>
                                                <a target="_inspect" href="{{ usage.editor_url }}">{{ usage.obj }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <script id="field_editor_script" src="{% static "admin/field_editor/field_editor.min.js" %}"></script>
{% endblock action-content %}
