{% extends "counters/chart_base.html" %}
{% load static %}
{% block charts-content %}
    {#    <div class="block w-full justify-center">#}
    {#        <img class="m-auto w-1/3" alt="charts" src="{% static "img.png" %}">#}
    {#    </div>#}
    <div class="m-10 ">
        <ul class="block list-disc">
            {% for org in organizations %}
                <li class="text-md hover:text-red-900">
                    <a href="{% url "charts:org-index" org.slug %}">{{ org }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock charts-content %}
