{% extends "counters/index.html" %}{% load static %}
{% block breadcrumbs %}
    {{ block.super }}
    &gt;<a class="org" href="{% url "charts:org-index" organization.slug %}">{{ organization }}</a>
{% endblock breadcrumbs %}

{% block body %}
    <div class="min-h-screen flex w-wull bg-gray-100 pb-10">
        <div class="w-full m-20 lg:w-1/2 mt-5">
            <ul>
                {% for project in projects %}
                    <li><a href="{% url "charts:project-index" organization.slug project.pk %}">{{ project }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock body %}
