{% if field.use_fieldset %}
  <fieldset>
  {% if field.label %}{{ field.legend_tag }}{% endif %}
{% else %}
  {% if field.label %}{{ field.label_tag }}{% endif %}
{% endif %}
{% if field.help_text %}<div class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{{ field.errors }}
{% for err in field.errors.as_data %}
    {% if err.code == "name_mismatch" %}
        <a class="button"  id="{{ field.auto_id }}_uba_accept" href="#">Accept value</a>
        <script>
            $("#{{ field.auto_id }}_uba_accept").on("click", function (){
                $("#{{ field.auto_id }}_2").val("{{ err.params.name }}")
            })
        </script>
    {% endif %}
{% endfor %}
{{ field }}
{% if field.use_fieldset %}</fieldset>{% endif %}
