{% extends "base.html" %}
{% block body %}
    <div class="min-h-screen flex justify-center bg-gray-100 pb-10">
        <div class="w-full lg:w-1/2 mt-5">
            <h1 class="text-3xl text-center">{{ organization }}</h1>
            <div class="container m-5">
                <ul>{% for prj in organization.projects.all %}
                    <li class="my-2">
                        <a href="{% url "prj-index" organization.slug  prj.slug %}">{{ prj }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
